<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plano Avançado</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <div class="plan-selection">
    <h1>Plano Avançado - R$ 149,90/mês</h1>
    <a href="selectPlanBasic.html" class="plan-button">Plano Básico</a><br>
    <a href="selectPlanPremium.html" class="plan-button">Plano Premium</a><br>
    <a href="#" class="plan-button">Confirmar Plano Avançado</a>
  </div>
</body>
</html>
