<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Próxima Etapa</title>
  <link rel="stylesheet" href="/css/pages/home/next-step.css">
</head>
<body>
  <header class="top-bar">
    <nav class="nav-bar">
      <ul>
        <li><a href="#" class="notify"><img src="/public/img/notify.svg" alt="notify"></a></li>
        <li><a href="#">Consulta</a></li>
        <li><a href="#">Vídeo Aula</a></li>
        <li><a href="#">Nutricionista</a></li>
        <li><a href="#">Personal</a></li>
        <li><a href="#">Psicólogo</a></li>
        <li><a href="#" class="profile"><img src="/public/img/profile.svg" alt="Eu"></a></li>
      </ul>
    </nav>
  </header>
  <main class="next-step-page">
    <section class="weight-section" id="weightSection">
      <div class="weight-message">
        <h1>Informe seu Peso</h1>
        <p>Para continuar, por favor informe seu peso atual.</p>
        <form id="weightForm">
          <label for="weight">Peso (kg):</label>
          <input type="number" id="weight" name="weight" required>
          <button type="submit" class="submit-button">Avançar</button>
        </form>
      </div>
    </section>

    <section class="height-section" id="heightSection" style="display: none;">
      <div class="height-message">
        <h1>Informe sua Altura</h1>
        <p>Para continuar, por favor informe sua altura atual.</p>
        <form id="heightForm">
          <label for="height">Altura (cm):</label>
          <input type="number" id="height" name="height" required>
          <button type="submit" class="submit-button">Avançar</button>
        </form>
      </div>
    </section>

    <section class="goal-section" id="goalSection" style="display: none;">
      <div class="goal-message">
        <h1>Qual o seu objetivo principal?</h1>
        <form id="goalForm">
          <div class="goal-options">
            <input type="radio" id="goal1" name="goal" value="Ganho de massa magra / Ganho de força / Hipertrofia" required>
            <label for="goal1">Ganho de massa magra / Ganho de força / Hipertrofia</label>
            
            <input type="radio" id="goal2" name="goal" value="Definição / Redução do percentual de gordura">
            <label for="goal2">Definição / Redução do percentual de gordura</label>
            
            <input type="radio" id="goal3" name="goal" value="Emagrecimento / Perda de peso">
            <label for="goal3">Emagrecimento / Perda de peso</label>
            
            <input type="radio" id="goal4" name="goal" value="Saúde / Condicionamento físico">
            <label for="goal4">Saúde / Condicionamento físico</label>
          </div>
          <button type="submit" class="submit-button">Continuar</button>
        </form>
      </div>
    </section>
    <section class="days-section" id="daysSection" style="display: none;">
      <div class="days-message">
        <h1>Quais dias você vai treinar?</h1>
        <form id="daysForm">
          <div class="days-options">
            <input type="checkbox" id="day1" name="days" value="Segunda-feira">
            <label for="day1">Segunda-feira</label>
            
            <input type="checkbox" id="day2" name="days" value="Terça-feira">
            <label for="day2">Terça-feira</label>
            
            <input type="checkbox" id="day3" name="days" value="Quarta-feira">
            <label for="day3">Quarta-feira</label>
            
            <input type="checkbox" id="day4" name="days" value="Quinta-feira">
            <label for="day4">Quinta-feira</label>
            
            <input type="checkbox" id="day5" name="days" value="Sexta-feira">
            <label for="day5">Sexta-feira</label>
            
            <input type="checkbox" id="day6" name="days" value="Sábado">
            <label for="day6">Sábado</label>
            
            <input type="checkbox" id="day7" name="days" value="Domingo">
            <label for="day7">Domingo</label>
          </div>
          <button type="submit" class="submit-button">Continuar</button>
        </form>
      </div>
    </section>
    <section class="time-section" id="timeSection" style="display: none;">
      <div class="time-message">
        <h1>Qual horário você prefere treinar?</h1>
        <form id="timeForm">
          <div class="time-options">
            <input type="radio" id="time1" name="time" value="Manhã" required>
            <label for="time1">Manhã</label>
            
            <input type="radio" id="time2" name="time" value="Tarde">
            <label for="time2">Tarde</label>
            
            <input type="radio" id="time3" name="time" value="Noite">
            <label for="time3">Noite</label>
          </div>
          <button type="submit" class="submit-button">Finalizar</button>
        </form>
      </div>
    </section>
  </main>

  <script>
    document.getElementById('weightForm').addEventListener('submit', function(event) {
      event.preventDefault();
      var weight = document.getElementById('weight').value;
      if (weight) {
        document.getElementById('weightSection').style.display = 'none';
        document.getElementById('heightSection').style.display = 'block';
      } else {
        alert('Por favor, informe seu peso.');
      }
    });

    document.getElementById('heightForm').addEventListener('submit', function(event) {
      event.preventDefault();
      var height = document.getElementById('height').value;
      if (height) {
        document.getElementById('heightSection').style.display = 'none';
        document.getElementById('goalSection').style.display = 'block';
      } else {
        alert('Por favor, informe sua altura.');
      }
    });
    document.getElementById('weightForm').addEventListener('submit', function(event) {
    event.preventDefault();
    var weight = document.getElementById('weight').value;
    if (weight) {
      document.getElementById('weightSection').style.display = 'none';
      document.getElementById('heightSection').style.display = 'block';
    } else {
      alert('Por favor, informe seu peso.');
    }
  });

  document.getElementById('heightForm').addEventListener('submit', function(event) {
    event.preventDefault();
    var height = document.getElementById('height').value;
    if (height) {
      document.getElementById('heightSection').style.display = 'none';
      document.getElementById('goalSection').style.display = 'block';
    } else {
      alert('Por favor, informe sua altura.');
    }
  });

  document.getElementById('goalForm').addEventListener('submit', function(event) {
    event.preventDefault();
    var goal = document.querySelector('input[name="goal"]:checked').value;
    if (goal) {
      document.getElementById('goalSection').style.display = 'none';
      document.getElementById('daysSection').style.display = 'block';
    } else {
      alert('Por favor, selecione seu objetivo.');
    }
  });

  document.getElementById('daysForm').addEventListener('submit', function(event) {
    event.preventDefault();
    var days = document.querySelectorAll('input[name="days"]:checked');
    if (days.length > 0) {
      document.getElementById('daysSection').style.display = 'none';
      document.getElementById('timeSection').style.display = 'block';

    } else {
      alert('Por favor, selecione pelo menos um dia.');
    }
  });
  document.getElementById('timeForm').addEventListener('submit', function(event) {
    event.preventDefault();
    var time = document.querySelector('input[name="time"]:checked').value;
    if (time) {
      window.location.href = '/public/views/home/inicial-screen.html';
      
    } else {
      alert('Por favor, selecione um horário.');
    }
  });
  document.getElementById('weightForm').addEventListener('submit', function(event) {
    event.preventDefault();
    var weight = document.getElementById('weight').value;
    if (weight) {
      localStorage.setItem('weight', weight);
      document.getElementById('weightSection').style.display = 'none';
      document.getElementById('heightSection').style.display = 'block';
    } else {
      alert('Por favor, informe seu peso.');
    }
  });

  document.getElementById('heightForm').addEventListener('submit', function(event) {
    event.preventDefault();
    var height = document.getElementById('height').value;
    if (height) {
      localStorage.setItem('height', height);
      document.getElementById('heightSection').style.display = 'none';
      document.getElementById('goalSection').style.display = 'block';
    } else {
      alert('Por favor, informe sua altura.');
    }
  });

  document.getElementById('goalForm').addEventListener('submit', function(event) {
    event.preventDefault();
    var goal = document.querySelector('input[name="goal"]:checked').value;
    if (goal) {
      localStorage.setItem('goal', goal);
      document.getElementById('goalSection').style.display = 'none';
      document.getElementById('daysSection').style.display = 'block';
    } else {
      alert('Por favor, selecione seu objetivo.');
    }
  });

  document.getElementById('daysForm').addEventListener('submit', function(event) {
    event.preventDefault();
    var days = document.querySelectorAll('input[name="days"]:checked');
    if (days.length > 0) {
      document.getElementById('daysSection').style.display = 'none';
      document.getElementById('timeSection').style.display = 'block';
    } else {
      alert('Por favor, selecione pelo menos um dia.');
    }
  });

  document.getElementById('timeForm').addEventListener('submit', function(event) {
    event.preventDefault();
    var time = document.querySelector('input[name="time"]:checked').value;
    if (time) {
      window.location.href = '/public/views/home/inicial-screen.html';
    } else {
      alert('Por favor, selecione um horário.');
    }
  });
    
  </script>
</body>
</html>