@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: #684dff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-page {
  width: 100%;
  max-width: 900px;
  max-height: 800;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  margin: 20px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(0.8);
}

.registration-header {
  background: #684dff;
  color: #fff;
  text-align: center;
  padding: 20px 15px;
  width: 100%;
}

.registration-header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.registration-header p {
  margin: 10px 0 0;
  font-size: 16px;
}

.form-group {
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
  text-align: center;
}

.form-group label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
}

input[type="text"]:focus {
  border-color: #684dff;
  box-shadow: 0 0 5px rgba(104, 77, 255, 0.5);
  outline: none;
}

.footer {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  width: 100%;
  color: #684dff;
}

.payment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.payment-form {
  flex: 1;
  text-align: center;
}

.credit-card-container {
  flex: 0 0 400px;
  margin-left: 20px;
  text-align: center;
}

.confirm-button {
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #684dff;
  color: #fff;
  border-radius: 10px;
  border: 1px solid black;
  margin: 20px auto;
  display: block;
}
.confirm-button:hover {
    background-color: #fff;
    color:  #684dff;
    border: 1px solid #684dff;
    
  }